html
    head
        link(rel='stylesheet' , href='css/styles.css')
        title= "Rustboro City"
        nav
            each option in menuOptions 
                span(class=["menuOption","borderColor", "textColor", "divContent", "divColor"])
                    a(href=option.href)= option.name
    body(class="landingBG")
        div(class="divContainer")
            div(class="one")
                img(src=bodyData.img class="pokemon")
                div(class="")
                    img(class="type",src=bodyData.type1)
                    img(class="type",src=bodyData.type2)
                h1(class="nameColor")= "#" + bodyData.paragraph.pokemon_id + " - " + bodyData.paragraph.name
                div(class="")
                    h2(class="textColor")= "Abilities: " + bodyData.ability
                    h2(class="textColor")= "HP: " + bodyData.paragraph.hp
                    h2(class="textColor")= "Attack: " + bodyData.paragraph.attack
                    h2(class="textColor")= "Defense: " + bodyData.paragraph.defense
                    h2(class="textColor")= "Special Attack: " + bodyData.paragraph.sp_attack
                    h2(class="textColor")= "Special Defense: " + bodyData.paragraph.sp_defense
                    h2(class="textColor")= "Speed: " + bodyData.paragraph.speed
                    h2(class="textColor")= "Base Stat Total: " + bodyData.paragraph.base_total
                div(class="stats1")
                    label(for="item-1" class=["medium", "msColor"])="More Stats"
                    input(type="checkbox" name="one" id="item-1")
                    div(class="hidden_stats")
                        h3(class="msColor")= "Capture Rate: " + bodyData.paragraph.capture_rate + "%"
                        h3(class="msColor")= "Base Happiness: " + bodyData.paragraph.base_happiness
                        h3(class="msColor")= "Base Egg Steps: " + bodyData.paragraph.base_egg_steps
                        h3(class="msColor")= "Height: " + bodyData.paragraph.height + "m.  Weight: " + bodyData.paragraph.weight + "kg."
                        h3(class="msColor")= "Male/Female Ratio: " + ((0 - bodyData.paragraph.percentage_male)*-1).toFixed(1) + "/" + (100 - bodyData.paragraph.percentage_male).toFixed(1)
                        h3(class="msColor")= bodyData.paragraph.name + " is " + bodyData.legendary + "!"
                        h3(class="msColor")= bodyData.paragraph.name + " is from Generation " + bodyData.generation + "!"
            div(class="two")
                img(src=bodyData.mon2img class="pokemon")
                div(class="")
                    img(class="type",src=bodyData.mon2type1)
                    img(class="type",src=bodyData.mon2type2)
                h1(class="nameColor")= "#" + bodyData.mon2paragraph.pokemon_id + " - " + bodyData.mon2paragraph.name
                div(class="")
                    h2(class="textColor")= "Abilities: " + bodyData.mon2ability
                    h2(class="textColor")= "HP: " + bodyData.mon2paragraph.hp
                    h2(class="textColor")= "Attack: " + bodyData.mon2paragraph.attack
                    h2(class="textColor")= "Defense: " + bodyData.mon2paragraph.defense
                    h2(class="textColor")= "Special Attack: " + bodyData.mon2paragraph.sp_attack
                    h2(class="textColor")= "Special Defense: " + bodyData.mon2paragraph.sp_defense
                    h2(class="textColor")= "Speed: " + bodyData.mon2paragraph.speed
                    h2(class="textColor")= "Base Stat Total: " + bodyData.mon2paragraph.base_total
                div(class="stats2")
                    label(for="item-2" class=["medium", "msColor"])="More Stats"
                    input(type="checkbox" name="two" id="item-2")
                    div(class="hidden_stats2")
                        h3(class="msColor")= "Capture Rate: " + bodyData.mon2paragraph.capture_rate + "%"
                        h3(class="msColor")= "Base Happiness: " + bodyData.mon2paragraph.base_happiness
                        h3(class="msColor")= "Base Egg Steps: " + bodyData.mon2paragraph.base_egg_steps
                        h3(class="msColor")= "Height: " + bodyData.mon2paragraph.height + "m.  Weight: " + bodyData.mon2paragraph.weight + "kg."
                        h3(class="msColor")= "Male/Female Ratio: " + ((0 - bodyData.mon2paragraph.percentage_male)*-1).toFixed(1) + "/" + (100 - bodyData.mon2paragraph.percentage_male).toFixed(1)
                        h3(class="msColor")= bodyData.mon2paragraph.name + " is " + bodyData.mon2legendary + "!"
                        h3(class="msColor")= bodyData.mon2paragraph.name + " is from Generation " + bodyData.mon2generation + "!"          