html
    head
        link(rel='stylesheet' , href='css/styles.css')
        title= "Rustboro City"
        nav
            each option in menuOptions 
                span(class=["menuOption","borderColor", "textColor", "divContent", "divColor"])
                    a(href=option.href)= option.name
    body(class="body")
        h1(class="sectionTitle")= "Pick The Contenders"
        div(class="divContainer")
            form(action="/battle",method="post",class="divContent")
                div
                    label="Pokemon One: "
                    input(type="text",name="name")
                div
                    label="Pokemon Two: "
                    input(type="text",name="name2")
                div
                    input(type="submit",value="Let's Go!")