html
    head
        link(rel='stylesheet' , href='css/styles.css')
        title= "Rustboro City"
        nav
            each option in menuOptions 
                span(class=["menuOption","borderColor", "textColor", "divContent", "divColor"])
                    a(href=option.href)= option.name
    body(class="landingBG")
        div(class="")
            div(class=["picker", "center", "middle"])
                h1(class="")= "Pick The Contenders"
                form(action="/battle",method="post")
                    div
                        label="Pokemon One: "
                        input(type="text",name="name")
                    div
                        label="Pokemon Two: "
                        input(type="text",name="name2")
                    div(class="button")
                        input(type="submit",value="Let's Go!")